@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;1,400&display=swap');

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
   
}
.tittle{
    margin: 50px;
}
